h1 Fish Review

p Hi,
= @user.name !

p Fish Reviewへようこそ！ 下記のリンクをクリックしてアカウントを有効に下さい。


= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) 