= @review.fish.name
- if @review.avatar
  = image_tag(@review.avatar)
= @review.user.name
= @review.taste_level
= @review.season
= @review.place
= @review.place_detail
= @review.fish_size

= @review.taste_imp

