/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require select2
 *= require select2-bootstrap
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 
 li{
    list-style: none;
 }

 ol{
    padding:0;
 }

 ul{
  padding:0;
 }

 p,div{
  padding:0;
  margin:0;
 }

 html {
   font-size: 16px;
  
   @media (min-width: 576px) {
     font-size: 12px;
   }
  
   @media (min-width: 768px) {
     font-size: 12px;
   }

   @media (min-width: 992px) {
      font-size: 14px;
    }

    @media (min-width: 1200px) {
      font-size: 16px;
    }
 }

 .card-columns {
   @include media-breakpoint-only(sm) {
      column-count: 1;
    }
   @include media-breakpoint-only(ls) {
      column-count: 1;
    }
    @include media-breakpoint-only(md) {
      column-count: 2;
    }
   @include media-breakpoint-only(lg) {
     column-count: 2;
   }
   @include media-breakpoint-only(xl) {
     column-count: 3;
   }
 }
 
 .card p{
   margin-bottom:0.5rem;
 }

/*
.follow_list{
  align-items: center;
  padding:0.5vw;
  display:flex;
  width:80%;
  margin:0 auto;
}
*/
#follow_form{
  margin-left:0 auto;
  
}


.user_image {
  overflow: hidden;
  width:50px;
  height:50px;
  border-radius:50%;
  // transform: translate(-50%, -50%);
  // -webkit-transform: translate(-50%, -50%);
}
/*
.user_nameinfo {
  margin-left: 20px;
}
*/

.follow_list > div {
  display: inline-flex;
  padding: 10px;
}
.follow_list > div:nth-child(4n) {
  color: lime;
}

p.prof{
  word-wrap: break-word;
}

.follow_user{
  padding:1vw;
}

.follow_user > div {
  padding:1vw;
}

input{
  position: absolute;
  top: 50%; /*親要素を起点に上から50%*/
  left: 50%;  /*親要素を起点に左から50%*/
  transform: translateY(-50%) translateX(-50%); /*要素の大きさの半分ずつを戻す*/
  -webkit-transform: translateY(-50%) translateX(-50%);
}