/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require select2
 *= require select2-bootstrap
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 
 li{
    list-style: none;
 }

 ol{
    padding:0;
 }

 ul{
  padding:0;
 }

 p,div{
  padding:0;
  margin:0;
 }

 html {
  background-color: #f7f7f7;
  font-size: 8px;
  @media (min-width: 576px) {
     font-size: 12px;
  }
  @media (min-width: 768px) {
     font-size: 12px;
  }
  @media (min-width: 992px) {
    font-size: 12px;
  }
  @media (min-width: 1200px) {
    font-size: 14px;
  }
}

 body{
  background-color: #f7f7f7;
 }

header{
  background-color: #222222; 
 }

 .header__logo{
  font-weight: 900;
  font-size: 2rem;
  color: #FF5F17;
}

 h1{
  @media (min-width: 576px) {
    font-size: 2em;
    text-align:center;
    margin-bottom:1em;
    margin-top:1em;
  }
    font-size: 1em;
    text-align:center;
    margin-bottom:0.5em;
    margin-top:0.5em;
}

.container-fluid{
  padding: 0;
  @media (max-width: 576px) {
    width: 90%;
  }
  @media (min-width: 576px) {
    width: 558px;
  }

  @media (min-width: 672px){
    width: 651px;
  }

  @media (min-width: 768px) {
    width: 744px;
  }

  @media (min-width: 880px){
    width: 853px;
  }

  @media (min-width: 992px) {
    width: 962px;
  }

  @media (min-width: 1096px) {
    width: 1082px;
  }

  @media (min-width: 1200px) {
    width: 1164px;
  }

  @media (min-width: 1360px) {
    width: 1332px;
  }
}

.card-columns {
  @include media-breakpoint-only(sm) {
    column-count: 1;
  }
  @include media-breakpoint-only(md) {
      column-count: 2;
  }
  @include media-breakpoint-only(lg) {
     column-count: 2;
  }
  @include media-breakpoint-only(xl) {
     column-count: 3;
  }
}
 
 .card p{
  margin-bottom:0.5rem;
}

.container{
  background-color: #f7f7f7;
}

.review-partial{
  border-radius:1em;
}

.user__prof{
  border-radius: 1rem;
}