// Place all the styles related to the fish controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.fish-index__count{
  color: #C0C0C0;
}

.fish-index__search-nil{
  margin-top: 3rem;
  font-size: 1.2rem; 
}