 .follow_form{
   margin-left:0 auto;
   
 }
 
 
 .user_image {
   overflow: hidden;
   width:50px;
   height:50px;
   border-radius:50%;
  
 }
 .user_image_header{
  overflow: hidden;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 auto;
  display: inline-block;
}
 
.follow_list > div {
  display: inline-flex;
  padding: 10px;
}
.follow_list > div:nth-child(4n) {
  color: lime;
}
 
  p.prof{
    word-wrap: break-word;
  }
 
  .follow_user{
    padding:1vw;
  }
 
  .follow_user > div {
    padding:1vw;
  }
 

  .follow_form input{
    position: absolute;
    top: 50%; 
    left: 50%;  
    transform: translateY(-50%) translateX(-50%); 
    -webkit-transform: translateY(-50%) translateX(-50%);
  }

  .user__prof{
    background-color: white;
  }

.user__prof-prof{
  word-wrap: break-word;
}

.user__prof-prof-wrap{
  position: relative;
}

.user__prof-edit{
  font-size: 0.5rem;
  position: absolute;
  bottom: 0;
  right: 10px;
}

.user__prof-follow-wrap{
  position: relative;
  @media (min-width: 576px) {
  border-right:solid 1px #EEEEEE;
  }
}

.user__prof-follow{
  position: absolute;
  top: 50%; 
  left: 0%;  
  transform: translateY(-50%);  
  -webkit-transform: translateY(-50%);
}

.user__profile-name-wrap{
  overflow: hidden;
  width: 100%;
}

.user__profile-name{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 8px;
  @media (min-width: 576px) {
    font-size: 12px;
 }
 @media (min-width: 768px) {
    font-size: 11px;
 }
 @media (min-width: 992px) {
   font-size: 11px;
 }
 @media (min-width: 1200px) {
   font-size: 13px;
 }
}

.user__profile-accountname{
  color: #C0C0C0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 8px;
  @media (min-width: 576px) {
     font-size: 12px;
  }
  @media (min-width: 768px) {
     font-size: 11px;
  }
  @media (min-width: 992px) {
    font-size: 11px;
  }
  @media (min-width: 1200px) {
    font-size: 13px;
  }
}

.stats{
  margin: 0 auto;
  width: 100%;
}

.user-index__user-account-name{
  color: #C0C0C0;
}

.show_follow__user-name{

}

.show_follow__user-account-name{
  a{
    color: #C0C0C0;
    }
}

.user__index-container{

  @media (max-width: 576px) {
    width: 90% !important;
  }
  @media (min-width: 576px) {
    width: 489px !important;
  }

  @media (min-width: 672px){
    width: 571px !important;
  }

  @media (min-width: 768px) {
    width: 652px !important;
  }

  @media (min-width: 880px){
    width: 704px !important;
  }

  @media (min-width: 992px) {
    width: 793px !important;
  }

  @media (min-width: 1096px) {
    width: 822px !important;
  }

  @media (min-width: 1200px) {
    width: 900px !important;
  }

  @media (min-width: 1360px) {
    width: 1030px !important;
  }
}

.user__index-prof{
  background-color: rgb(241, 238, 238);
}

.users-new__need-word{
  color: white;
  background-color:#FF6666;
  border-radius: 5px;
  padding-left: 3px;
  padding-right: 3px;
}

.users-new__optional-word{
  color: white;
  background-color:#0099FF;
  border-radius: 5px;
  padding-left: 3px;
  padding-right: 3px;
}

.users-new__need{
  background-color: #FFF0F5 !important;
}

.users-new__optional{
  background-color: #F0FFFF !important;
}

.header-icon{
  color: white;
}

.nav-link-icon{
  padding-left: 0.3rem !important;
}

.sign-in_user{
  font-size: 1.2rem;
}