// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.show_follow{
 /*
 .follow_list{
   align-items: center;
   padding:0.5vw;
   display:flex;
   width:80%;
   margin:0 auto;
 }
 */
 #follow_form{
   margin-left:0 auto;
   
 }
 
 
 .user_image {
   overflow: hidden;
   width:50px;
   height:50px;
   border-radius:50%;
   // transform: translate(-50%, -50%);
   // -webkit-transform: translate(-50%, -50%);
 }
 /*
 .user_nameinfo {
   margin-left: 20px;
 }
 */
 
 .follow_list > div {
   display: inline-flex;
   padding: 10px;
 }
 .follow_list > div:nth-child(4n) {
   color: lime;
 }
 
 p.prof{
   word-wrap: break-word;
 }
 
 .follow_user{
   padding:1vw;
 }
 
 .follow_user > div {
   padding:1vw;
   
 }
 
 input{
   position: absolute;
   top: 50%; /*親要素を起点に上から50%*/
   left: 50%;  /*親要素を起点に左から50%*/
   transform: translateY(-50%) translateX(-50%); /*要素の大きさの半分ずつを戻す*/
   -webkit-transform: translateY(-50%) translateX(-50%);
 }

}